body {
  background: pink;
  /*background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);*/
}

.jumbotron {
  background: purple;
  /*background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);*/
  border: solid 6px white;
  border-radius: 25px;
  color: white;

}

.jumbotron h4 {
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  font-size: 50px;
  font-style: bold;
  text-shadow: #444 0 1px 1px;
  color: white;
}

.jumbotron p {
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  font-size: 40px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: solid 20px white;
  border-radius: 25px;
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 25px;
  background: purple;
  /*background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);*/
  text-align: center;
  width: calc(50% - 10px);
  margin: 5px;

  }
.card-img {
  border: solid 5px white;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  max-width: 90%;
  min-height: 70%;
  max-height: 70%;

}
 .card-body {
   color: black;
   padding: 20px;
   display: flex;
   justify-content: center;
 }

 .card-header {
   font-size: 32px;
 }

 .team-name {
   display: center;
 }
