.flex-container {
  display: flex;
  justify-content: center;
  height: 400px;
  flex-wrap: wrap;
}

.flex-item {
  font-size: 50px;
  text-align: center;
  width: calc(33.33% - 40px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin: 20px;
}

.guy-image {
  width: 50%;
}
.item1 {
  display: flex;
  background-color: #1abc9c;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.icon-flex{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.item2 {
  background-color: #3498db;
}
.item3 {
  background-color: #9b59b6;
}
.item4 {
  background-color: #e74c3c;
}
.item5 {
  background-color: #d35400;
}
.item6 {
  background-color: #c0392b;
}
