.flex-container {
  display: flex;
  justify-content: center;
  height: 400px;
  flex-wrap: wrap;
}

.flex-item {
  font-size: 50px;
  text-align: center;
  margin: 10px;
  width: calc(33.333% - 20px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.item1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #1abc9c;
}

.item2 {
  background-color: #2ecc71;
}

.item3 {
  background-color: #3498db;
}

.item4 {
  background-color: #9b59b6;
}

.item5 {
  background-color: #e67e22;
}

.item6 {
  background-color: #e74c3c;
}

.guy-image {
  width: 50%
}
.icon-flex {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
