<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Birds </title>

    <!--Font Family-->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <center>
      <div id='app'>
        <div class='birdHeader'>
          <h1> {{ title }} </h1>

          <ul>
            <li>Home</li>
            <li>About</li>
            <li>News</li>
            <li>Exhibits</li>
            <li>Contacts</li>
          </ul>

        </div>

        <hr style='color: #333;'>

        <div class='container'>
          <div class='row'>
            <div class='col-md-12 birds' v-for="bird in birds">
              <h2> {{ bird.name }} </h2>
              <h4> Species: {{ bird.species }} </h4>
              <h4> Gender: {{ bird.gender }}</h4>
              <img :src="bird.img" class="birdImage"/>
            </div>
          </div>
        </div>

        <div>

          <form id="Form" v-on:submit.prevent='addBird'>

            <div class='col-md-12'>
                <label>Bird Name</label>
                <input type='text' v-model='name' />
            </div>

            <div class='col-md-12'>
              <label>Bird Species</label>
              <input type='text' v-model='species' />
            </div>

            <div class='col-md-12'>
              <label>Bird Gender</label>
              <input type='text' v-model='gender' />
            </div>

            <div class='col-md-12'>
              <label>Bird Image</label>
              <input type='text' v-model='img' />

            </div class='col-md-12'>

            <button id='myButton' type='submit' class='btn btn-primary'>Add Bird</button>
          </form>

        </div>

      </div>
    </center>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="js/app.js"></script>

  </body>
</html>
