.navLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  overflow: hidden;
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;
  width: 100%;
}

.Link {
  display: block;
  color: white;
  font-size: 25px;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  width: 100%;
}
